*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.topo{
    background-color: #fff;
    color: black;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #d5d5d5;
}
.topo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    height: 60px;
    padding: 20px;
    margin: 0 auto;

}

.topo a{
    text-decoration: none;
    font-size: 24px;
    color: #3d3d3d;
}
.topo a:visited{
    color: #3d3d3d;
}

.topo p a{
    color: #3d3d3d;
    padding: 10px 15px;
    font-size: 16px;
}

.topo p a:hover{
    border-bottom: 3px solid #6592C9;
}

.topo p a, h2{
    text-transform: uppercase;
}

.topo span{
    color: #6592C9;
}

.banner{
    background-image: url(../img/img-fundo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-banner{
    background-color: #0a9077b3;
    color: #fff;
    border: 1.5px solid white;
    border-radius: 5px;
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-banner h1{
    font-size: 45px;
    margin-top: 35px;
    opacity: 1;
}
.titulo-banner p{
    font-size: 22px;
    margin-top: 35px;
}

.bem-vindo, .sobre, .rota{
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
    margin: 30px 0 20px 0 ;
}

h2{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 70px;
    color: #3d3d3d;
}

.img-quartos img{
    width: 300px;
    height: 200px;
}
.img-quartos{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 1024px;
}
.img-quartos p{
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #49997D;
    margin-bottom: 15px;
}

.img-quartos a{
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-weight: bold;
    text-transform: uppercase;
}
.img-quartos a:visited{
    color: rgb(88, 88, 88);
}

.sobre-detalhes img{
    width: 100px;
}
.sobre-detalhes .card{
    width: 480px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    
}

.sobre-detalhes{
    display: flex;
    flex-flow: row wrap;
    max-width: 1024px;
    margin: 0 auto  60px auto;
    justify-content: space-between;
}

.sobre-detalhes .card div{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 20px;
    justify-content: center;
}

.sobre-detalhes p{
    font-size: 14px;
}

.sobre-detalhes h3{
    font-size: 16px;
    margin-bottom: 15px;
}

.rodape{
    background-color: #49997D;
    width: 100%;
    
}

.rodape-top{
    max-width: 1024px;
    display: flex;
    flex-flow: row;
    padding: 10px 0;
    border-bottom: 1px solid rgb(2, 105, 81);
    margin: 0 auto;
    
}

.rodape-top .card{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.rodape-top a,.rodape-top p{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.rodape-top a:visited{
    color: #fff;
}

.rodape-bottom{
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.endereco::before{
    content: "";
    background-image: url(../img/endereco.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    
}

.telefone::before{
    content: "";
    background-image: url(../img/telefone.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.calendario::before{
    content: "";
    background-image: url(../img/calendario.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}