* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: #3d3d3d;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
  }
  
  .topo {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
  }
  
  .container {
    max-width: 1024px;
  }
  
  .topo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  .link-logotipo {
    margin: 0 40px 0 0;
    font-size: 24px;
    text-decoration: none;
    color: #3d3d3d;
  }
  
  .link-logotipo span {
    color: #6592c9;
  }
  
  .link-topo {
      text-transform: uppercase;
      line-height: 18px;
      text-decoration: none;
      padding: 0px 15px 10px 15px;
      color: #3d3d3d
  }
  
  .link-topo:hover {
    border-bottom: 3px solid #6592c9;
  }
  
  .quartos {
    display: flex;
    justify-content: space-between;
  }
  
  .quarto {
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #00836a;
    text-decoration: none;
    color: #3d3d3d;
  }
  
  .quarto a {
    text-decoration: none;
    color: #333;
  }
  
  .quarto a p {
    text-align: center;
  }
  
  .quarto:last-child {
    margin-right: 0px;
  }
  
  .tamanho-maximo-container {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .secao-container {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  
  .secao-container h2{
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
  }
  
  img {
    width: 100%;
  }
  
  .descricoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  
  .descricao {
    display: flex;
    width: 45%;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .descricao-conteudo {
    flex: 1 1 auto;
  }
  
  .descricao-img {
    width: 100px;
    height: 113px;
    object-fit: cover;
    margin-left:10px;
  }
  
  
  .rodape{
    background-color: #49997D;
    width: 100%;
    
}

.rodape-top{
    max-width: 1024px;
    display: flex;
    flex-flow: row;
    padding: 10px 0;
    border-bottom: 1px solid rgb(2, 105, 81);
    margin: 0 auto;
    
}

.rodape-top .card{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.rodape-top a,.rodape-top p{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.rodape-top a:visited{
    color: #fff;
}

.rodape-bottom{
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.endereco::before{
    content: "";
    background-image: url(../img/endereco.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    
}

.telefone::before{
    content: "";
    background-image: url(../img/telefone.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.calendario::before{
    content: "";
    background-image: url(../img/calendario.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
  
  .titulo-galeria {
    height: 30vh;
  }
  
  .quartos-img{
    width: 33%;
    padding-bottom: 10px;
  }
  
  .quarto-informacoes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .quarto-informacoes li {
    width: 25%;
    text-align: left;
    margin-top: 10px;
  }