*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: gray;
}

    /* inicio topo */
header{
    background-color: rgb(65, 218, 245);
    display: flex;
    justify-content: center;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
}

.links-topo a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.links-topo a:hover {
    color: rgb(3, 89, 122);
}
    /* fim topo */

    /* inicio background imagem */
.bg {
    background-image: url(../img/recepcao2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.bg div{
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.418);
}

.bg article {
    display: flex;
    align-items: center;
    width: 1024px;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}

    /* fim background imagem */

    /* inicio sobre */
#sobre {
    width: 1024px;
    text-align: center;
    margin: 0 auto;
}

.parte-um, .parte-tres {
    margin: 30px 0;
}

.parte-um h2, .parte-tres h3{
    padding: 20px;
}

.parte-dois {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte-dois ul{
    text-align: start;
    margin-left: 40px;
}

.parte-dois h3{
    text-transform: uppercase;
    font-weight: normal;
}


.cards{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

figure img{
    width: 300px;

}

figure{
    box-shadow: 1px 1px 10px  rgb(85, 85, 85);
}

figcaption{
    padding: 15px;
    text-transform: uppercase;
}

#sobre a{
    text-decoration: none;
    color: white;
    background-color:  rgb(65, 218, 245);
    padding: 10px 25px;
}
    /* fim sobre */

    /* inicio contato */
#contato{
    text-align: center;
    margin: 50px auto;
    width: 1024px;
}

#contato p{
    padding: 10px;
}
    /* fim contato */

    /* inicio footer */
footer{
    background-color: rgb(0, 129, 133);
    color: white;
    text-align: center;
}

footer p{
    padding: 10px;
}

footer div{
    padding-bottom: 30px;
}
    /* fim footer */